body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: black;
}

.content {
    padding-top: 60px; /* Adjust based on your navbar height */
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colour{
    color: rgb(11, 188, 2);
}

img{
    height: 100%;
    width: auto;
}   

    

.nav{
    /* background-color: rgb(105, 67, 17); */
    width: 100wh;
    height: 50px;
    display: flex;
    box-shadow: 0 0 15px 1px;
    /* margin-bottom: 100px; */

}
.logo{
    height: 100%;
    width: 50%;
    padding: 2px;
    padding-left: 120px;

    img{
        height: 100%;
        width: auto;
        
    }
}
.menu{
    display: flex;
    width: 30%;
    height: 100%;
    padding: 5px;
    /* background-color: rgb(249, 148, 15); */
}

.shop{
    height: 100%;
    width: 20%;
    display: flex;
    padding-left: 100px;
    padding-top: 8px;
}

.log{
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin: 2px;
    color: rgb(11, 188, 2);
    border: 1px solid rgb(11, 188, 2);
    cursor: pointer;
}

.sign{
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin: 2px;
    color: white;
    background-color: rgb(11, 188, 2);
    border: none;
    cursor: pointer;
   
}

.menu-list{
    width:25% ;
    height: 100%;
    text-align: center;
    align-content: center;
    font-weight: bold;
    cursor: pointer;
    /* background-color: rgba(29, 29, 92, 0.747); */
    margin: 0px 5px;
    border-radius: 10px;
    color: black;
   
}
.menu-list:hover{
    background-color: rgb(11, 188, 2);
}
.menu-list p{
    font-size: 20px;
    

}

/* p:hover{
    color: rgb(11, 188, 2);
    border-bottom: 2px solid rgb(11, 188, 2);
    font-size: large;
} */

